.itemStyle{
    background-color: pink;
}
.backMain{
    display: flex;
     height: 60px;
    width: 300px;
    background-image: url(../../Img/shutterstock_565659754.webp);
    background-size: cover;
    justify-content: space-around;
    align-items: center;
}